//COLORS
$marine-blue :hsl(213, 96%, 18%);
$purplish-blue:hsl(243, 100%, 62%);
$pastel-blue: hsl(228, 100%, 84%);
$light-blue: hsl(206, 94%, 87%);
$strawberry-red:  hsl(354, 84%, 57%);

$cool-gray:hsl(231, 11%, 63%);
$light-gray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster:hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Ubuntu";
    font-size: 16px;
}
body {
    background-color: $magnolia;
    overflow: hidden;
    
}
p {
    color: $cool-gray;
}
h2 {
    color: $marine-blue;
}
.hide {
    display: none !important;
}
.form-container {
    display: none;
}

.flex-container {
    display: flex;
}
.round-edge {
    border-radius: 16px;
}

.sidebar {
    background-color: $pastel-blue;
    color: $alabaster;
    background-size: cover;
    background-repeat: no-repeat;

}
.step-text-container {
    text-transform: uppercase;
    font-size: 14px;
}
.step-title {
    color: $pastel-blue;
}
.step-number {
    border-radius: 300px;
    outline: 1px solid $white;
    height: 35px;
    width: 35px;
    min-width: 35px;
    min-height: 35px;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    font-weight: 500;
}

.step-container > .active-step {
    color: black; 
    outline: none;
    background-color: $light-blue;
}

.survey-container {
    padding: 16px;
}
label, h1 {
    color: $marine-blue;
}
h1 {
    font-size: 32px;
    margin: .5em 0em;
}
.subtitle {
    color: $cool-gray;
    margin-bottom: 2em;
}
.personal-info-container, .main-form-wrapper {
    flex-direction: column;
}
input.invalid {
    outline: 2px $strawberry-red solid !important;
}
form {
    //page 1
    label {
        margin-bottom: .5em;
    }
    input[type="text"] {
        border-radius: 8px;
        border: none;
        outline: 1px solid $cool-gray;
        height: 3em;
        padding-left: 1em;
        margin-bottom: 1.5em;
        color: $marine-blue;
        font-size: 16px;
    }
    input[type="text"]:focus {
        outline: 2px solid $purplish-blue;
        background-color: $magnolia;
    }
    ::placeholder {
        color: $cool-gray;
    }
    //Page 2
    .payment-type {
        justify-content: space-between;
        align-items: stretch;
        gap: 1em;
        input {
            opacity: 0;
            height: 0;
            width: 0;
            position: absolute;
        }
        .container {
            flex: 1;
            cursor: pointer;
            outline: 1px $light-gray solid;
            background-color: $alabaster;
            transition: transform 50ms;
        }
        .container:has(input:checked) {
            background-color: $magnolia;
            outline: 1px $purplish-blue solid;
        }
        .container:hover {
            background-color: $magnolia;
        }
        .container:active {
            outline: 1px $purplish-blue solid;
            transform: scale(0.99);
        }
        .payment-icon {
            margin: 1em;
            max-height: 40px;
            max-width: 40px;
        }
        .payment-button{
            flex-direction: column;
            > div {
                margin: 1em;
                div {
                    margin: .25em 0;
                }
                h2, .payment-rate {
                    transition-duration: 200ms;
                    transform: translateY(8px);
                }

            }
            
        }
        .payment-rate {
            color: $cool-gray;
        }
        .discount {
            transition: opacity 200ms;
            opacity: 0;
        }
    }
    .form-container{
        .monthly {
            color: $marine-blue;
        }
        .yearly {
            color: $cool-gray;
        }
    }
    //Lol I can't believe this works
    .form-container:has(.payment-toggle-switch input:checked){
        .container {
            .discount {
                opacity: 100;
            }
            h2, .payment-rate {
                transform: translateY(0);
            }
        }
        
        .monthly{
            color: $cool-gray;
        }
        .yearly {
            color: $marine-blue;
        }

    }
    //page 3
    .add-on-btn{
        outline: 1px $light-gray solid;
        border-radius: 5px;
        align-items: center;
        padding: 1.5em;

        //custom checkbox styling
        input[type="checkbox"]{
            flex: 0 0 1.5em;
            appearance: none;
            font: inherit;
            height: 1.5em;
            width: 1.5em;
            border-radius: 0.2em;
            outline: 1px $light-gray solid;
            display: grid;
            place-content: center;
        }
        input[type="checkbox"]::before{
            content: "";
            height: 1.1em;
            width: 1.1em;
            transform:scale(0);
            transition: 120ms transform ease-in-out;
            border-radius: 0.2em;
            box-shadow: inset 1em 1em $purplish-blue;

        }
        input[type="checkbox"]:checked::before {
            transform: scale(1);
        }

        input + div {
            margin-left: 1em;
        }
        .additional-charge {
            margin-left: auto;
        }

    }
    .add-on-btn:has(input:checked){
        outline: 1px $purplish-blue solid;
        background-color: $magnolia;
    }
    .add-on-btn:hover {
        background-color: $magnolia !important;
    }
    //Page 4
    .final-invoice {
        h2 {
            margin-bottom: .5em;
        }
        h2 + p {
            text-decoration: underline;
        }
        .colored-box {
            background-color: $magnolia;
            padding: 1em;
        }
        .price-row {
            align-items: center;
        }
        hr ~ .price-row{
            margin-bottom: 1em;
            font-size: 14px;
            .price-point {
                color: $cool-gray;
            }
        }
        .price-point {
            margin-left: auto;
        }
        .final-total {
            padding: 1em;
        }
        .final-charge {
            font-size: 18px;
            color: $purplish-blue;
            font-weight: 700;
        }
    }
}

//Page 5
#Thanks5 {
    margin: auto;
    *{
        text-align: center;
    }
    .subtitle {
        line-height: 1.5em;
    }
    .container {
        
        height:max-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}
hr {
 border: none;
 margin: 1em 0;

}
//Only show hr if there's at least one unhidden element preceding it
.colored-box:has(hr ~ .price-row:not(.hide)){
    hr {
        border-top: 1px solid $light-gray;
       
    } 
}

.additional-charge::before {
    content: "+";
}

//Toggle Switch logic THIS IS MODULAR
.payment-toggle-switch {
    background-color: $magnolia;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
    //Modular Logic starts here
    .switch {
    margin: 8px;
    position: relative;
    display: inline-block;
    width: 2.4em;
    height: 1.4em;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    --slider-width: 1em;
    //4px margins around 
    left: 3px;
    bottom: .2em;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    }

    input:checked + .slider {
    background-color: $marine-blue;
    }

    input:focus + .slider {
    box-shadow: 0 0 1px $marine-blue;
    }

    input:checked + .slider:before {
    -webkit-transform: translateX(var(--slider-width));
    -ms-transform: translateX(var(--slider-width));
    transform: translateX(var(--slider-width));
    }

    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }

}

.pointer {
    cursor: pointer;
}
.go-next, .submit-btn {
    color: $alabaster;
    border: 0;
    outline: 0;
    border-radius: 8px;
    background-color: $marine-blue;
    width: fit-content;
    padding: 1em 2em;
}

.go-back {
    color: $cool-gray;
    border: 0;
    outline: 0;
    border-radius: 8px;
    background-color: $alabaster;
    width: fit-content;
    padding: 1em 2em;
}
.nav-btns {
    margin-top: auto;
    justify-content: space-between;
    button {
        max-height: 3em;
    }
}


//MEDIA QUERIES

//Smartphones
@media only screen and (max-width:425px) {
    form {
        background-color: $alabaster;
    }
    h1 {
        font-size: 26px;
    }
    p, h2 {
        font-size: 14px;
    }
    .sidebar {
        gap: 20px;
        justify-content: center;
        background-image: url(./assets/images/bg-sidebar-mobile.svg);
        border-radius: 0;
        width: 100vw;
        height: 150px;
        position: absolute;
        margin: -16px;
        align-items: center;
        
        .step-container {
            position:relative;
            bottom: 30px;
        }
    }
    .survey-container {
        flex-direction: column;
        background-color: none
    }
    .step-text-container {
        display: none;
    }
    .main-form-wrapper {
        position: relative;
        background-color: $alabaster;
        border-radius: 16px;
        padding: 16px;
        top: 70px;
        box-shadow: 0px 20px 20px -10px $light-gray;
    }
    .payment-type {
        flex-direction: column;
        .container {
            max-height: 100px;
            .discount {
                font-size: 14px;
            }
        }
        
    }
    form .payment-type .payment-button {
        flex-direction: row;
    }
    .nav-btns {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 60px;
        align-items: center;
        margin-top: auto;
        background-color: $alabaster;
        justify-content: space-between;
        padding: 0 2em;
        button {
            font-size: 14px;
            padding: 1em;
            border-radius: 4px;
        }
    }
}

//Ipads
@media only screen and (min-width:426px) and (max-width:980px){
    main {
        transform: scale(0.7);
    }
}

//Larger than phone
@media screen and (min-width:426px){
    body {
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    form {
        input[type="text"]{
            font-size: 18px;
        }
        //Page 2
        .payment-type .container {
            min-width: 150px;
        }
    }
    .survey-container{
        flex-direction: row;
        background-color: $alabaster;
        box-shadow: 0px 20px 20px -10px $light-gray;
    }
    .sidebar {
        flex-direction: column;
        padding: 2.5em;
        gap: 24px;
        background-image: url(./assets/images/bg-sidebar-desktop.svg);
        min-height: 500px;
        max-height: 560px;
    }
    .main-form-wrapper {
        margin: 2em 6em;
        width: 100%;
    }
    .step-text-container {
        margin-left: 16px;
    }
    .step-title {
        font-size:14px;
        font-weight: 400;
    }
    .step-info {
        font-size: 14px;
        font-weight: 700;
    }
    #Thanks5 {
        .container{
            margin-top: -30px;
        }
        
    }
}

//Larger Devices
@media only screen and (min-width:981px){
    .sidebar {
        min-width: 270px;
    }
    .survey-container {
        min-width: 1000px;
        max-width: 1000px;
        min-height: 600px;
    }
}